client/__pycache__/config.cpython-311.pyc
client/__pycache__/event.cpython-311.pyc
client/__pycache__/input.cpython-311.pyc
client/__pycache__/network.cpython-311.pyc
client/__pycache__/output.cpython-311.pyc
client/__pycache__/powershell.cpython-311.pyc
/main.dist
