name: 搭建环境并编译

on: [push]

jobs:
  build:
    runs-on: [Windows-lastest, x64, x32]
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        architecture: 'x64'
        cache: 'pip'
        cache-dependency-path: |
          **/requirements.txt
    - name: Install Dependencies
      run: |
        python.exe -m pip install -r requirements.txt
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        path: 'server\'
        filename: 'edusync-server.zip'
        exclusions: '*.git* /*node_modules/* .editorconfig'
    - uses: Nuitka/Nuitka-Action@main
      name: Build Client
      with:
        nuitka-version: main
        script-name: client/main.py
        output-dir: build
        output-file: edusync-client.exe
        windows-uac-admin: true
        enable-plugins: pyside6
        standalone: true
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: upload-build
        path: |
          build/main.dist/*
